/* ----------------------------------
   SEÇÃO: SOBRE MIM
---------------------------------- */

.section-sobre-mim {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    padding: 160px 0;
    background-color: #111111;
}

/* Container centralizado na página */
.container {
    width: 50%;
    margin: 0 auto;                /* mantém no centro */
    display: flex;
    align-items: center;
    justify-content: space-between; /* imagem à esquerda / texto à direita */
}

/* Texto */
.sec-sobre {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.my-prof,
.my-from {
    opacity: 0.6;
}

/* Imagem */
.sec-img img {
    width: 200px;
    border-radius: 50%;
}

/* Ícones */
.icons {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.icons a {
    font-size: 30px;
    color: #fff;
    opacity: 0.8;
    transition: 0.2s;
}

.icons a:hover {
    opacity: 1;
    transform: scale(1.15);
}
.icon-email {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    padding: 0;
}
.icon-email:hover{
    color: rgb(97, 97, 235);
}

.copy-msg {
    font-size: 0.85rem;
    color: #fff;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-4px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ----------------------------------
   RESPONSIVO
---------------------------------- */

@media (max-width: 900px) {
    .container {
        width: 90%;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .sec-sobre {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .sec-img img {
        width: 160px;
    }
}
